/*清除浮动*/
@define-mixin clearfix { 
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
		overflow: hidden;
	}
} 

/*文字单行超出显示省略号*/
@define-mixin otw {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*文字多行超出显示省略号*/
@define-mixin motw {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*局部内容滚动*/
@define-mixin content-scroll $width:4px {
    &::-webkit-scrollbar {
        width: $width;
        height:$width;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: #efefef;
    }
    &::-webkit-scrollbar-thumb:vertical {
        background-color: #aaa;
        border-radius: $width;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background-color: #aaa;
        border-radius: $width;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }
}




