/*使用&符，把父选择器复制到子选择器中*/
.menu {
	width: 100%;
	a {
		text-decoration: none;
	}
	&::before {
		content: '';
	}
}

/*变量*/
$text_color: #232323;
.menu {
	color: $text_color;
}

/*条件判断*/

$column_layout: 2;
.column {
	@if $column_layout == 2 {
		width: 50%;
		float: left;
	} @else {
		width: 100%;
	}
}

/*@for循环通过一个数字计数器完成一个循环周期*/
@for $i from 1 to 3 {
	p:nth-of-type($i) {
		margin-left: calc( 100% / $i );
	}
}

/*@each循环遍历一个项目列表。*/
$social: twitter, facebook, youtube;
@each $icon in ($social){
	.icon-$(icon) {
		background: url('img/$(icon).png');
	}
}

/*混合宏(Mixins)*/
@define-mixin icon $network, $color {
	.button.$(network) {
		background-image: url('img/$(network).png');
		background-color: $color;
	}
}
@mixin icon twitter, blue;
@mixin icon youtube, red;


/*使用@mixin-content*/
@define-mixin icon $network, $color {
	.button.$(network) {
		background-image: url('img/$(network).png');
		background-color: $color;
		@mixin-content;
	}
}
@mixin icon twitter, blue { width: 3rem; }
@mixin icon youtube, red { width: 4rem; }

/*扩展(Extend)*/
@define-extend rounded_button {
	border-radius: 0.5rem;
	padding: 1em;
	border-width: 0.0625rem;
	border-style: solid;
}
.blue_button {
	@extend rounded_button;
	border-color: #2F74D1;
	background-color: #3B8EFF;
}
.red_button {
	@extend rounded_button;
	border-color: #C41A1E;
	background-color: #FF2025;
}

/*@import将多个文件样式代码合并到一个文件中*/
@import "partials/_variables.css";
@import "partials/_utilities.css";
@import "partials/_mixins.css";
@import "partials/_extends.css";










